@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Header</title>
</head>
<body>
    <div class="text-center " style="background: #808080;padding-top:20px;padding-bottom:20px;">
        <span>Copyright @@ 2021</span><span style="color:blue;">Devfast</span>

    </div>
</body>
</html>

