@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Menu</title>
    <style>
        table tr td {
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            padding-top: 20px;
        }

        .menu table tr td a {
            color: black;
        }

        .menu table tr td:hover {
            background: #808080;
            color: white;
        }

        .menu table tr td a:hover {
            background: #808080;
            color: white;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="menu" style=" text-align:center;padding-left:10px;padding-bottom:20px;">
            <table>
                <tr>
                    <td><img src="https://cdn.icon-icons.com/icons2/916/PNG/512/Menu_icon_icon-icons.com_71858.png" width="20px" height="20px" /></td>
                    <td id="Home"><a href="/Blog/Index">List</a></td>
                </tr>
                <tr>
                    <td><img src="https://www.nicepng.com/png/detail/202-2022683_edit-svg-png-icon-free-download-create-icon.png" width="20px" height="20px" /></td>
                    <td id="Create"><a href="/Blog/Create">New</a></td>
                </tr>
                <tr>
                    <td><img src="https://upload.wikimedia.org/wikipedia/commons/3/36/Search_Icon.png" width="20px" height="20px" /></td>
                    <td id="Search"><a href="/Blog/Search">Search</a></td>
                </tr>

            </table>
        </div>
    </div>
</body>
</html>




